@font-face {
    font-family: "Roboto-Black";
    src: url("../src/fonts/Roboto-Black.ttf") format('truetype');
    font-style: normal;
    font-weight: 900;
}
@font-face {
    font-family: "Roboto-Regular";
    src: url("../src/fonts/Roboto-Regular.ttf") format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Roboto-Italic";
    src: url("../src/fonts/Roboto-Italic.ttf") format('truetype');
    font-style: italic;
    font-weight: normal;
}

body {
    font-family: "Roboto-Regular", Arial, sans-serif;
    /*text-align: center;*/
    color: #ffffff;
    background-color: #000000;
    /**/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                not supported by any browser */

    padding: 0;
    margin: 0;
}